@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}



.formContainer {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #5d5b8d;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 12px;
        cursor: pointer;

        img {
          width: 32px;
        }
      }
    }
    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 100%;
  vertical-align: initial;
  outline: none;
  border: 0;
}

.initial {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #a7bcff;
}

.home {
  background-color: #a7bcff;
  left: 0;
  background-position: 0 0;
  height: 100vh;

  @media screen and (min-width: 1441px) {
    margin: 0 auto;
    top: 19px;
    width: calc(100% - 38px);
    max-width: 1600px;
    height: calc(100% - 38px);
    border-radius: 8px;
  }

  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 400;

  .container {
    left: 0;
    position: relative;
    top: 0;
    z-index: 200;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: auto;

    .sidebar {
      background-color: #3e3c61;
      transform: translateZ(0);
      z-index: 101;
      max-width: 480px;
      min-width: 336.6px;

      @media screen and (min-width: 900px) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      @media screen and (min-width: 1024px) {
        flex: 0 0 40%;
        max-width: 40%;
      }

      @media screen and (min-width: 1300px) {
        flex: 0 0 30%;
        max-width: 30%;
      }

      .navbar {
        display: flex;
        align-items: center;
        background-color: #2f2d52;
        height: 50px;
        padding: 10px 16px;
        justify-content: space-between;
        color: #ddddf7;

        .user {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;

          span {
            font-weight: 500;
          }

          img {
            background-color: #ddddf7;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;

          }
        }

        .logout {
          background-color: #5d5b8d;
          color: #ddddf7;
          font-size: 12px;
          border: none;
          padding: .4rem .5rem;
          border-radius: 5px;
          cursor: pointer;
          transition: .3s;

          @include tablet {
            position: absolute;
            bottom: 10px;
          }

          &:hover {
            // background-color: #5d5b8d93;
            background-color: #F23F43;
          }
        }
      }
      
      .search {
        border-bottom: 1px solid gray;

        .searchForm {
          padding: 10px 12px;
          display: flex;
          align-items: center;
        }

        .searchContainer {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 16px;
          background-color: #5D5B8D;
          padding: .5rem .5rem;
          border-radius: 8px;
          width: 100%;

          .searchIcon {
            color: lightgray;
          }

          input {
            background-color: #5D5B8D;
            border: none;
            color: white;
            outline: none;

            &::placeholder {
              color: lightgray;
            }
          }
        }
      }

      .random {
        display: flex;
      }

      .userImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        padding: 13px 15px 13px 13px;
      }

      .userChat {
        padding: 13px 15px 13px 13px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: white;
        cursor: pointer;
        position: relative;
        transition: .3s;

        .first {
          color: black;
        }

        &:hover {
          background-color: #65638f72;
        }

        img {
          width: 49px;
          height: 49px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userImageContainer {
          display: flex;
          align-items: center;
          position: relative;

          span {
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: 0;
            right: 0;
            top: 35px;
            border-radius: 100%;
            background-color: transparent;
          }

          .online-icon {
            background-color: #23A55A;
          }

          .offline-icon {
            background-color: #F23F43;
          }

          // svg {
          //   position: absolute;
          //   bottom: 0;
          //   right: 0;
          //   top: 33px;
          //   font-size: 18px;
          //   border-radius: 100%;
          // }
        }

        .userChatInfo {
          display: flex;
          flex-basis: auto;
          flex-direction: column;
          flex-grow: 1;
          justify-content: center;

          .firstRow {
            display: flex;
            align-items: center;

            span {
              text-align: left;
              display: flex;
              flex-grow: 1;
              overflow: hidden;
              font-weight: 400;
              line-height: 21px;
              overflow-wrap: break-word;
            }

            p {
              margin-top: 4px;
              margin-left: 6px;
              font-size: 12px;
              white-space: anywhere;
            }
          }
          
          span {
            font-size: 18px;
            font-weight: 500;
          }

          p {
            font-size: 14px;
            color: lightgray;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 300px;
          }
        }
      }

      .userChat.selected {
        background-color: #7c79aac2;
      }
    }
    
    .chat {
      flex-grow: 1;

      .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 16px;
        color: lightgray;

        span {
          font-size: 16px;
          font-weight: 500;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          font-size: 13px;
          color: rgba(255, 255, 255, 0.691);
        }
      }

      .messages {
        background-color: #ddddf7;
        padding: 10px;
        height: calc(100% - 160px);
        overflow-y: scroll;

        .message {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          margin-bottom: 20px;
          padding: 0 15px;

          @media (max-width: 968px) {
            padding-right: 5px;
            padding-left: 5px;
          }

          @media (max-width: 1152px) and (min-width: 1088px) {
            padding-right: 10px;
            padding-left: 10px;
          }

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;
            align-items: center;
            justify-content: center;

            .chatUserImage {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          
          .messageContent {
            display: flex;
            align-items: flex-end;
            // flex-direction: column;

            position: relative;
            flex: none;
            font-size: 14.2px;
            line-height: 19px;

            @media screen and (max-width: 900px) {
              max-width: 95%;
            }

            @media screen and (min-width: 901px) and (max-width: 1024px) {
              max-width: 85%;
            }

            @media screen and (min-width: 1025px) and (max-width: 1300px){
              max-width: 75%;
            }

            @media screen and (min-width: 1301px){
              max-width: 65%;
            }

            > div {
              display: flex;
              flex-direction: column;
              align-items: end;
              max-width: max-content;
              position: relative;
              width: 440px;
              background-color: white;
              padding: 6px 7px 6px 9px;
              border-radius: 0px 7.5px 7.5px 7.5px;
              overflow-wrap: anywhere;
              white-space: pre-wrap;
              
              &::before {
                content: "";
                width: 0;
                height: 0;
                border-top: 10px solid white;
                border-left: 10px solid transparent; 
                border-right: 10px solid transparent;
                position: absolute;
                top: 0;
                left: -7px; 
              }

              .messageText {
                font-size: 16px;
                margin-right: 10px;
                overflow-wrap: anywhere;
                white-space: pre-wrap;
              }

              .documentContainer {
                display: flex;
                flex-direction: column;
                gap: .2rem;
                width: 100%;
                margin-bottom: .8rem;
              }

              .messageDocument {
                align-items: end;
                text-decoration: underline;
                width: fit-content;

                &:hover {
                  text-decoration: underline;
                  font-weight: 500;
                }
              }

              span {
                font-size: 12px;
                margin-top: 4px;
              }
            }

            img {
              max-width: 100%;
              margin-bottom: .5rem;
              border-radius: .3rem;
            }

            .customAudioPlayer {
              // width: 310px;
              width: 200px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: center;
              margin-top: 15px;
              gap: 1rem;
              margin-right: 20px; 

              p {
                margin-bottom: 4px;
              }

              .audioSpeedControl {
                padding: 2px 5px;
                
                button {
                  // padding: .5rem 1rem;
                  border-radius: 9999px;
                  border: none;
                  font-weight: 500;
                  cursor: pointer;
                  width: 50px;
                  height: 23px;
                }
              }

              svg {
                cursor: pointer;
              }
            }

            svg {
              color: #8DA4F1;
              margin-right: -.5rem;
              margin-top: 0.05rem;
            }

            button {
              background-color: #8DA4F1;
              color: white;
              margin-bottom: 0.13rem;
            }

            .reformContainer {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: .7rem;
            }

            .messageTextContainer {
              width: 100%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              > div {
                display: flex;
                flex-direction: column;
                align-items: end;
                background-color: #8da4f1;
                color: white;
                border-radius: 7.5px 0px 7.5px 7.5px;
                padding: 6px 7px 6px 9px;
                overflow-wrap: anywhere;
                white-space: pre-wrap;
                width: 440px;
                

                &::before {
                  display: none;
                }

                &::after {
                  content: "";
                  width: 0;
                  height: 0;
                  border-top: 10px solid #8da4f1;
                  border-left: 10px solid transparent; 
                  border-right: 10px solid transparent;
                  position: absolute;
                  top: 0;
                  right: -7px; 
                }

                .messageTextContainer {
                  width: 100%;
                }
                
                .messageText {
                  font-size: 16px;
                  margin-right: 10px;
                  overflow-wrap: anywhere;
                  white-space: pre-wrap;
                }
  
                span {
                  font-size: 12px;
                  margin-top: 4px;
                }
              }

              svg {
                color: white;
              }

              button {
                background-color: white;
                color: black;
                margin-bottom: 0.179rem;
              }

              .reformContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.7rem;
              }

              .customAudioPlayer {
                flex-direction: row;
                gap: .7rem;
              }
            }
          }

          .ownerDocument {
            color: white;
          }
          
          .otherDocument {
            color: black;
          }
        }
      }

      .input {
        height: 50px;
        background-color: #5D5B8D;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input { 
          width: 100%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;
          background-color: #DDDDF7;
          padding: 9px 12px;
          border-radius: 8px;
          // margin-inline: 20px 16px;
          margin-inline: 20px 14px;

          &::placeholder {
            color: rgba(0, 0, 0, 0.353)
          }
        }

        .functionsContainer {
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: center;
          align-items: center;

          .fileIcon {
            font-size: 28px;
            color: #DDDDF7;
            cursor: pointer;
          }

          .addImageIcon {
            font-size: 28px;
            color: #DDDDF7;
            cursor: pointer;
          }
        }

        .send {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1.3rem;
          width: 35px;
          
          .sendIcon {
            font-size: 25px;
            cursor: pointer;
            color: #DDDDF7;
          }

          button {
            border: none;
            border-radius: 100px;
            padding: 10px 15px;
            color: white;
            background-color: #8da4f1;
            cursor: pointer;
          }
        }

        .previewContainer {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.7);
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 1000;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .imagePreview {
            max-width: 50%;
            max-height: 50%;
          }

          .buttonsContainer {
            display: flex;
            flex-direction: row;
            gap: .6rem;

            button {
              background-color: white;
              padding: 10px 20px;
              border: none;
              cursor: pointer;
              border-radius: 50px;
              font-weight: 500;
            }

            .cancelSend {
              transition: 0.3s;

              &:hover {
                background-color: #F23F43;
                color: white;
              }
            }

            .confirmSend {
              transition: 0.3s;

              &:hover {
                background-color: #8DA4F1;
                color: white;
              }
            }
          }

          .docLinkContainer {
            color: white;
          }

          .documentLink {
            color: white;
            transition: 0.3s;
            font-weight: 600;
            
            &:hover {
              color: #8DA4F1;
            }
          }
        }

        .audioRecordingContainer{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 2.3rem;

          .recordingFunctions {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            .firstContainer {
              display: flex;
              flex-direction: row;
              gap: 1rem;
              
              .audioRecordingMessage {
                color: #DDDDF7;
              }
            }

            .secondContainer {
              display: flex;
              flex-direction: row;
              gap: 1rem;
            }
          }

          .audioSend {
            background-color: #2F2D52;
            // background-color: #23A55A;
            padding: .8rem;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: #40c477;
              // background-color: #2F2D52;
            }
          }
        }

        .startAudioRecording {
          font-size: 25px;
          cursor: pointer;
          color: #DDDDF7;
        }

        .playRecordedAudio {
          font-size: 25px;
          color: #DDDDF7;
          cursor: pointer;
        }
        
        .cancelAudioRecording {
          font-size: 25px;
          color: #DDDDF7;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            color: #F23F43;
          }
        }

        .stopAudioRecording {
          font-size: 25px;
          color: #DDDDF7;
          cursor: pointer;
          transition: 0.3s;
          border-radius: 100%;

          &:hover {
            color: #FFFFFF;
            background-color: #FF4136;
          }

          &.completed {
            color: #FFFFFF;
            background-color: #FF4136;
          }
        }
      }
    }
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 2.8px solid #f3f3f3;
  border-top: 2.8px solid #8DA4F1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
